
      {{#if loggedIn}}
        <a
          class="nav-link"
          id="logoutLink"
          href="/dashboard/newpost"
          onsubmit="handleLogoutButton"
        >Add Post</a>
      {{/if}}


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}


<script src="../public/js/new-post.js"></script>