
      {{#if loggedIn}}
        <a
          class="nav-link"
          id="logoutLink"
          href="/dashboard/newpost"
          onsubmit="handleLogoutButton"
        >Add Post</a>
      {{/if}}
