<div>
    <h2>New post</h2>

    <form id="newPost">
        <label for="postTitle">Title:</label>
        <input class="form-input" type="text" name="postTitle" />

        <label for="postBody">Body:</label>
        <textarea class="form-input" type="text" name="postBody" ></textarea>

        <button type="submit">Add Post</button>
    </form>
</div>

<script src="/js/new-post.js"></script>